<header>
    <nav>
        <div class="nav-logo">
            <img src="~/img/logo.png" alt="Logo">
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Course/Dashboard">Dashboard</a></li>
                <li><a href="/Account/Login">Login</a></li>
                <li><a href="/Account/Register">Register</a></li>
                <li><a href="/Course/Courses">Courses</a></li>
            </ul>
        </div>
    </nav>
</header>
