@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">
    <h1>Dashboard</h1>
    <a href="/Course/AddCourse" class="add-course-button">Add Course</a>
    <a href="/Course/Courses" class="add-course-button">View Courses</a>
    <ul>
        @* Список курсів *@
    </ul>
</div>
