@{
    ViewData["Title"] = "Edit Course";
}

<div class="container">
    <h1>Edit Course</h1>
    <form method="post">
        <label for="courseName">Course Name:</label>
        <input type="text" id="courseName" name="courseName" value="@Model.CourseName" required>
        <br>
        <input type="submit" value="Save Changes">
    </form>
</div>
